{% extends 'base/base.html' %}

{% block title %}หน้าแรก | ระบบจับคู่โดรน{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">ยินดีต้อนรับสู่ตลาดงานโดรน</h1>
        <p class="col-md-8 fs-4 mx-auto">ระบบจับคู่นักบินโดรนมืออาชีพ และผู้จ้างงาน ไม่ว่าจะพ่นยาเกษตร ถ่ายภาพ หรือทำแผนที่</p>
        <button class="btn btn-primary btn-lg" type="button">ประกาศงานเลย</button>
        <button class="btn btn-outline-secondary btn-lg" type="button">หางานบินโดรน</button>
    </div>
</div>

<!-- สำหรับ content เพิ่มเติม 2 อย่าง เช่าโดรน และโดรนมือสอง -->
 <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">โดรนมือสอง</h5>
                <p class="card-text">หาซื้อโดรนมือสองที่ดีที่สุด</p>
                <a href="#" class="btn btn-primary">ซื้อโดรนมือสอง</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">เช่าโดรน</h5>
                    <p class="card-text">เช่าโดรนรายวัน</p>
                <a href="#" class="btn btn-primary">ติดต่อเช่าโดรน</a>
            </div>
        </div>
    </div>
 </div>
{% endblock %}